.home-page {
  .home-page__header {
    // height: 50rem;
    overflow: hidden;
    min-width: 114rem;
    position: relative;

    img {
      // position: absolute;
      width: 100%;
      height: auto;
      // top: -10rem;
    }
  }
}
