.preview-product {
  // margin-bottom: 4rem;

  background: url('./../../assets/img/index_28.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 61.9rem;
  min-height: 61.9rem;
  position: relative;

  div {
    // color: white;
  }

  hr {
    // border-color: #fff;
    // background-color: #fff;
  }

  .content-box__1 {
    width: 100%;
    margin: 0 auto;

    padding-top: 3rem;
    background: rgba(255, 255, 255, 0.1);
    min-height: 61.9rem;

    .name-tag {
      font-size: 4.2rem;
      font-weight: 700;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      line-height: 1.52;
    }

    .card-container {
      margin-top: 4rem;
    }
  }
}
