.image-header {
  position: relative;
  height: 39.2rem;
  overflow: hidden;

  img {
    filter: blur(1px);
  }

  .h-1 {
    position: absolute;
    z-index: 10;
    color: #f4f4f5;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 4.8rem;
    background-color: rgba(#18181b, 0.4);
    padding: 4rem 20rem 5rem 20rem;

    .stick {
      display: flex;

      background-color: #f4f4f5;
      height: 1rem;
      width: 19.5rem;
      margin-top: 1rem;
    }
  }
}
