.header {
  z-index: 2;
  background-color: rgba($color: #fff, $alpha: 0.5);

  .header-menu {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 500;
    padding: 1.4rem 0;

    svg {
      width: 100%;
      height: auto;
    }
  }
}
